.imageBox {
  width: 90%;
  height: 14em;
  position: relative;
  box-shadow: 4px 4px 20px 0px rgb(96, 96, 96);
  border-radius: 10%;
  margin-bottom: 16px;
  img {
    border-radius: 10%;
  }
  svg {
    opacity: 0.9;
    width: 60%;
    height: 60%;
    padding: 20%;
    path {
      fill: #000;
    }
  }
}
